---
import BaseLayout from "../layouts/Base.astro";
import LinkCard from "../components/LinkCard.astro";
---

<BaseLayout title="Media">
	<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
		<LinkCard
			title="Art Music Technology Podcast 110: Ícaro Ferre"
			url="https://www.youtube.com/watch?v=70i47n0LHHM"
		/>
		<LinkCard
			title="Cycling 74’ Blog: An Interview with Ícaro Ferre"
			url="https://cycling74.com/articles/an-interview-with-icaro-ferre/"
			image="https://1cyjknyddcx62agyb002-c74projects.s3.amazonaws.com/files/2016/03/icaro-headshot.jpg"
		/>
		<LinkCard
			title="Roland AIRA Modular - Introdução (por Ícaro Ferre) PT-BR"
			url="https://www.youtube.com/watch?v=b7kHxOrb--s"
		/>
		<LinkCard
			title="Pesquisadores EP. 01 - Icaro Ferre (Modular Session)"
			url="https://www.youtube.com/watch?v=msGMp4hZBW8"
		/>
		<LinkCard
			title="AIMEC Brasil - Workshop Tudo sobre Síntese Modular c/ Ícaro Ferre"
			url="https://www.youtube.com/watch?v=B2sZ0v_k5cw"
		/>
	</div>
</BaseLayout>
