---
// src/pages/projects.astro
import BaseLayout from "../layouts/Base.astro";
import { getCollection } from "astro:content";

import LinkCard from "../components/LinkCard.astro";
const projects = await getCollection("projects");
---

<BaseLayout
	title="Projects"
	seo={{
		title: "Projects - Icaro Ferre",
		description:
			"Check out some projects created by Icaro Ferre, an electronic artist and maker from São Paulo, Brazil",
		image: "https://icaroferre.com/images/ngen/06.jpg",
		url: "https://icaroferre.com/projects",
	}}
>
	<a href="https://spektroaudio.com/projects" class="font-black">
		<div
			class="bg-[url(/images/ngen/04.jpg)] m-4 h-40 bg-center bg-cover flex flex-col items-center justify-center rounded-lg outline-1 outline-white/20"
		>
			<div
				class="backdrop-brightness-30 hover:backdrop-brightness-50 backdrop-contrast-90 backdrop-blur-sm p-4 rounded-lg w-full h-full flex flex-col items-center justify-center gap-2"
			>
				<div class="text-sm opacity-60" style="text-decodation:inherit">
					More projects available at
				</div>
				<div class="text-lg">spektroaudio.com/projects</div>
			</div>
		</div>
	</a>
	<div class="p-4 grid grid-cols-1 md:grid-cols-3 xl:grid-cols-4 gap-8">
		{
			projects
				.sort((a, b) => b.data.year - a.data.year)
				.map(({ data, slug }) => (
					<LinkCard
						title={data.title}
						url={`/projects/${slug}/`}
						image={data.front_image}
						description={data.excerpt}
					/>
				))
		}
	</div>

	<h2 class="p-4 mt-4">Open Source Projects</h2>

	<div class="grid grid-cols-1 md:grid-cols-4 xl:grid-cols-6 gap-8 p-4">
		<LinkCard
			title="Audiohit"
			url="https://github.com/icaroferre/AudioHit"
			description="Rust-based CLI for batch processing audio samples"
		/>
		<LinkCard
			title="Rusemi"
			url="https://github.com/icaroferre/Rusemi"
			description="Rust-based USB Serial to CoreMIDI CLI"
		/>
		<LinkCard
			title="ot_utils"
			url="https://github.com/icaroferre/ot_utils"
			description="Rust library for grouping audio samples and generating .ot files for the Elektron Octatrack"
		/>
		<LinkCard
			title="Versos"
			url="https://github.com/icaroferre/Versos"
			image="https://github.com/icaroferre/Versos/raw/master/Images/Versos-Screenshot.jpg"
			description="Max/MSP Multi-Track Looper"
		/>
		<LinkCard
			title="MGC"
			url="https://github.com/icaroferre/MGC"
			image="https://github.com/icaroferre/MGC/raw/master/screenshot.jpg?raw=true"
			description="Multi-Channel Grid Control for Monome"
		/>
		<LinkCard
			title="Pico8-Cartloader"
			url="https://github.com/icaroferre/Pico8-Cartloader"
			description="Batch downloader and Scraper for Pico-8 carts"
		/>
		<LinkCard
			title="cgorganelle"
			url="https://github.com/icaroferre/cgorganelle"
			description="Rust library for the Critter & Guitarri Organelle synthesizer"
		/>
	</div>
</BaseLayout>
