---
import "../styles/globals.css";
const { title } = Astro.props;
---

<div
	class="flex flex-col md:justify-left px-4 py-2 m-2 bg-white/2 text-wrap"
>
	<div
		class="flex flex-row opacity-50 text-sm font-thin"
		style="font-family: var(--font-header)"
	>
		<b>{title}</b>
	</div>
	<div class="flex flex-row text-md font-bold text-balance p-1">
		<slot />
	</div>
</div>
