---
import "../styles/globals.css";
---

<div class="flex flex-col md:flex-row gap-4 p-2 m-4 items-center justify-between">
	<div class="text-[24px] font-bold"><a href="/">Ícaro Ferre</a></div>
	<div
		class="p-2 px-4 rounded-xl flex flex-col md:flex-row justify-end gap-8 bg-white/2 align-bottom"
	>
		<a href="/about">About</a>
		<a href="/music">Music</a>
		<a href="/media">Media</a>
		<a href="/projects">Projects</a>
		<a href="/opensource">Open Source</a>
		<a href="https://spektroaudio.com">Spektro Audio</a>
	</div>
</div>
