
---
import '../styles/globals.css'
---

<div class="p-4 m-4 rounded-xl flex flex-row justify-evenly bg-white/2 align-bottom ">
	<a href="/">Home</a>
	<i class="ph ph-microphone text-xl"></i>
		
	<a href="/">About</a>
	<a href="/">Music</a>
	<a href="/">Home</a>
	<a href="/">Home</a>
</div>
