---
import "../styles/globals.css";
import "../styles/animation.scss";
const { title, front_image } = Astro.props;
---

<section class="relative w-full h-[40vh] overflow-hidden">
	<!-- Background Image -->
	<div
		class="absolute inset-0 bg-center bg-cover blur-sm"
		style={`background-image: url('${front_image}');`}
	>
	</div>

	<!-- Dark overlay for better text contrast (optional) -->
	<div class="absolute inset-0 bg-black/40"></div>

	<!-- Title -->
	<div class="absolute bottom-8 left-8 text-white z-10">
		<div
			class="text-3xl md:text-5xl glitch"
			style="font-family: var(--font-header)"
			data-text={title}
		>
			{title}
		</div>
		<!-- <div class="text-xl"><a href="/">www.google.com</a></div> -->
	</div>
</section>
